.navbar{
  background-color: #5F61C5;
  color: white;
  font-size: 1.5em;
  display:flex;
}

.profileContainer{
  font-size: 15em;
  display:flex;
  align-content: center;
}
.pageContainer{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 350px;
  width: 70%;
  border-style: solid;

}

.book_container{
  display: flex;
  flex-direction: row;

}
.image{
  height: 100%;
  width: 200px
}

.content{
  margin-top: 5%;
  margin-left:5%;
}
.details{
  font-size: 1em
}
.link{
  color: orange;
  margin-top: 5%;
  border-top: 1px 1px grey;
}
.splashContainer{
  display: flex;
  flex-direction: row;
  margin-left: 20%
}
.pictureContainer1{
  font-size: 20em;
  color: Dodgerblue
}
.pictureContainer2{
  font-size: 20em;
  color: Dodgerblue;
  margin-left:5%;
}
.authorImage{
height: 40%;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 100px;
  width: 70%;
  display:flex;
  justify-content: space-between;
  margin-bottom: -5%;

}
.btn{
  color: white;
  background-color: #5F61C5;
  width: 49%;
  height: 50%;


}
.addBook{
  background-color: #5F61C5;
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBookContainer{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  color: white;
  flex-direction: column;
  margin-left: 20%
}
.formContainer{
  width: 70%
}
.form-control{
  border-left: 0px ;
  border-top: 0px ;
  border-right: 0px ;
  border-radius: 0%;
  margin-top: 10%;



}
.dotted{
  border-left: 0px ;
  border-top: 0px ;
  border-right: 0px ;
  border-bottom: 1px dotted grey




}
.submit{
  margin-top: 5%;
  width:25%;
}
